<%= render "application/header" %>

<div class="back-gray">

  <h2>面談情報</h2>

  <% @meetings.each do |meeting| %>
    <%= render meeting %>
    <%= link_to "トークルーム", meeting, class: "messages-link" %>
  <% end %>

  <% if @meetings.empty? %>
    <p class="align-center">現在、面談情報はありません。予約済みの場合はフォームの送信をお待ちください。</p>
  <% end %>

</div>
