<%= render "application/header" %>

<div class="back-gray">

  <%= render @student %>

  <% if @student.id == current_student&.id %>
    <div class="link-wrapper">
      <%= link_to "マイページを編集", edit_student_registration_path  %>
    </div>
  <% end %>
</div>
