<%= render "application/header" %>
<div class="user-show">

  <%= render @student %>

  <div class="link-wrapper">
    <%= link_to_if @student.id == current_student&.id, "マイページを編集", edit_student_registration_path do %>
    <% end %>
  </div>
</div>
