<%= render "application/header" %>

<div class="back-gray">

  <%= render @instructor %>

  <% if current_student %>
    <h4>予約可能日時</h4>
    <%= render "schedules/schedules", schedules: @schedules, dates: @dates, type: "public" %>

    <div class="box-wrapper">
      <div>
        <div class="red-box"></div>
        <span>グループ面談</span>
      </div>
    </div>
  <% end %>

  <% if @instructor.id == current_instructor&.id %>
    <div class="link-wrapper">
      <%= link_to "マイページを編集", edit_instructor_registration_path  %>
    </div>
  <% end %>
</div>
