<%= render "application/header" %>
<div class="back-gray">

  <h3>コース詳細</h3>

  <div class="personal-course">
    <h3 class="course-name">個人面談</h3>
    <p>1回30分、社会人や内定者の方と1対1で面接練習ができます。
      企業研究をしたり自己分析をしたりと使い方は様々！</p>
    <p>内定を掴み取る1歩にしてください。</p>
  </div>

  <div class="group-course">
    <h3 class="course-name">グループ面談</h3>
    <p>1回30分、他の就活生の方とグループディスカッションの練習ができます。
      社会人の方にみてもらいながらグループディスカッションの練習をする機会はなかなかありません。</p>
    <p>有効に使いましょう！</p>
  </div>

</div>
