// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.meeting-form-introduction{
  width: 85%;
  margin: 50px auto 0 auto;
  font-size: 14px;
  a{
    color: #49669f;
  }
}

.meeting-field{
  input[type="text"]{
    background-color: #fff;
  }
}

.meeting-label{
  width: 80%;
  margin: 20px auto 0 auto;
  font-size: 14px;
}

.meeting-datetime{
  background-color: #fff;
  padding: 13px;
  border-radius: 5px;
  font-size: 15px;
  width: 72%;
  margin: 0 auto;
  border: none;
}

.meeting{
  background-color: #fff;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
  padding: 15px;
  p{
    margin: 10px 0;
    a{
      color: #49669f;
    }
    span{
      font-weight: bold;
    }
  }
}

.messages-link{
  display: block;
  width: 50%;
  margin: 20px auto 0 auto;
  text-align: center;
  border: 1px solid #373737;
  border-radius: 5px;
  padding: 10px 0;
}
